@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Thin scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* No background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #bdbdbd; /* White scrollbar */
  border-radius: 10px; /* Rounded corners */
}



.custom-scrollbar::-webkit-scrollbar-button {
  display: none; /* Removes up/down buttons */
}
